body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("Images/background.jpg");
  background-size: cover;
  background-position: center;
}

.sign-up-form {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}

.user {
  width: 70px;
  margin-top: -50px;
}

.input-fields {
  text-align: left;
  margin-top: 14px;
  margin-left: 9%;
}

.sign-up-form h1 {
  color: #1c8adb;
  margin-bottom: 30px;
}

.input-box {
  width: 90%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 100px 0;
  border: 1px solid #999;
}

.input-box:focus {
  outline: none;
}

button {
  font-size: 15px;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}

.signup-button {
  background-color: #1c8adb;
}

hr {
  margin-top: 20px;
  width: 80%;
}

.or {
  background: #fff;
  width: 30px;
  margin: -19px auto 10px;
}

.google {
  height: 14px;
  width: 14px;
}

.google-button {
  background-color: gold;
}

a {
  text-decoration: none;
}
